.as-search-navbar {
    z-index: -1;
}

.modal {
    max-width: 1800px!important;
}

#aplixer-modal-checkout {
    display: none;
}

.aplixer-field-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 8px;
}

input,
select {
    padding: 6px 12px;
    border-radius: 3px;
}

input[name=credit_cvc],
input[name=credit_exp_date],
input[name=zip_code],
input[name=quantity],
input[name=street_number] {
    width: 50px;
}

.aplixer-order-data {
    color: white;
    z-index: 999999;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aplixer-group-prefix {
    position: relative;
    display: table;
    border-collapse: separate;
}

.aplixer-group-prefix span {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.aplixer-checkout-container {
    /* width:100%;  */
    height: auto;
    position: relative;
    padding: 96px 64px;
    display: none;
}

.aplixer-checkout-title {
    position: absolute;
    top: 32px;
    left: 64px;
}

.aplixer-checkout-left {
    display: flex;
    width: 60%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 32px 0 0;
    margin-top: 48px;
}

.aplixer-checkout-left input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0;
    width: 100px;
}

.aplixer-checout-left-header {
    padding-left: 80px;
    position: absolute;
    top: -32px;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 80px);
    color: darkgray;
    text-transform: uppercase;
}

.aplixer-checkout-left>div:nth-child(2) {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.aplixer-checkout-left>div:nth-child(2) img {
    width: 80px;
    height: auto;
}

.aplixer-checkout-item span {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.aplixer-checkout-right {
    width: 40%;
    padding: 32px;
    background: #e3e3e3;
}

.aplixer-checkout-row {
    margin-top: 16px;
}

.aplixer-display-flex-center-center-row {
    display: flex;
    flex-direction: row;
}

.aplixer-display-flex-start-column {
    display: flex;
    justify-content: flex-start;
    /* align-items:center; */
    flex-direction: column;
}

.aplixer-display-flex-center-row {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    flex-direction: row;
}

.aplixer-width-100p {
    width: 100%;
}

.aplixer-width-90p {
    width: 90%;
}

.aplixer-width-80p {
    width: 80%;
}

.aplixer-width-50p {
    width: 50%;
}